body{
    margin:0;
    padding: 0;
    background-color: #96c1f8;
}

header{
    height: 100px;
}

h1{
    text-align: center;
    color: white;
}

#bateau{
    transform: translate(0,220%);
    animation-duration: 8s;
    animation-name: Move;
    animation-fill-mode: forwards;
    /* animation: 8s Move forwards; */
}

@keyframes Move {
    from {
        margin-left: 0px;
        }
    to {
        margin-left: 57%;
    }
  }


section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -20px;
    display: flex;
    justify-content: center;
    
}

div:nth-child(3){
    color: grey;
    background-color: grey;
}

section div{
    width: 100px;
    height: 100px;
    color: #80CEE1;
    background-color: #80CEE1;
    margin: 5px;
    text-align: center;
}


footer{
    height: 250px;
    background-color: #5ee1e6;
    text-align: center;
}

section div:hover{
    border-radius: 50%;
    transform: rotate(360deg);
    transition: 0.5s ease all;
    
}

footer p{
    color: white;
    font-weight: normal;
    font-family: 'Trebuchet MS';
    font-size: 18px;

}

#tresor:hover{
    cursor:grab
}